body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  margin: 3rem;
}

.form-input-row {
  display: flex;
}

.hidden {
  display: none;
}

#result-wrapper {
  text-align: center;
}

#result {
  border: 1px solid black;
  padding: .5rem 1rem;
  background-color: lightblue;
}