html
  head
    link(rel="stylesheet" href="assets/css/styles.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css")
    title Results
  body
    h1.title Result
    h3= result
